<section id="contact">
	<h1 class="text-center mx-auto max-w-4xl text-4xl sm:text-5xl md:text-6xl">
		{{ .Title }}
	</h1>
	<div class="text-center mx-auto mb-8">
		{{ .Content }}
	</div>

	<form class="w-full" method='{{ .Params.method | default "POST" }}' action="{{ .Params.action }}"
		{{ if .Params.netlify }} data-netlify="true" {{ end }}>
		{{ range .Params.Inputs }}
		<div>
			<label class="hidden">{{ .name | title }}</label>
			{{ if eq .type "textarea" }}
			<textarea rows="5" {{ printf "name=%q" .name | safeHTMLAttr }}
				{{ printf "placeholder=%q" .placeholder | safeHTMLAttr }}></textarea>
			{{ else }}
			<input {{ printf "type=%q" .type | safeHTMLAttr }} {{ printf "pattern=%q" .pattern | safeHTMLAttr }}
				{{ printf "name=%q" .name | safeHTMLAttr }} {{ printf "placeholder=%q" .placeholder | safeHTMLAttr }}
				{{ if .required }} required {{ end }}>
			{{ end }}
		</div>
		{{ end }}

		{{ if .Params.useEmail }}
		{{ with .Site.Params.email }}
		<a class="bg-gray-200 px-3 py-2 rounded-md mr-2 no-underline inline-block" href="mailto:{{ . }}">
			{{ i18n "contact_email" }}
		</a>
		{{ end }}
		{{ end }}

		<div class="float-right">
			<input type="reset" class="bg-gray-200 mr-2" value='{{ i18n "cancel" }}' />
			<input type="submit" class="bg-black text-white" value='{{ i18n "submit" }}' />
		</div>
	</form>
</section>