<!-- <h1 class="mb-0 text-center mx-auto max-w-4xl text-4xl sm:text-5xl md:text-6xl">
	{{ .Title }}
</h1> -->
<section id="hero" class="mt-8 mx-auto flex flex-wrap items-center">
	<div class="p-8 md:w-1/2">
		<div>
			{{ .Content }}
		</div>
		<div class="mx-auto mt-8 mb-8 md:mb-0 flex justify-center">
			{{ range .Params.btn }}
			{{ $class := "border border-green-400 hover:text-white" }}
			{{ if .primary }}
			{{ $class = "bg-green-400 text-white"}}
			{{ end }}

			<a href="{{ .url | relLangURL }}" class="no-underline">
				<div
					class="px-6 py-2 mr-6 rounded-sm text-center hover:bg-green-500 active:bg-green-600 transition duration-300 ease-in-out {{ $class }}">
					{{ .label }}
				</div>
			</a>

			{{ end }}
		</div>
	</div>

	{{ with .Params.hero_media }}
	<div class="p-4 my-6 mx-auto h-full shadow-6 relative">
		<div class="bg-black bg-opacity-50 w-48 h-12 absolute top-0 -right-16 transform rotate-45"></div>
		<img src="{{ . }}" alt="hero image">
		<div class="bg-green-apple w-48 h-12 absolute bottom-0 -left-16 transform rotate-45"></div>
	</div>
	{{ end }}

</section>