{{ $bundleRaw := resources.Get "sass/styles.sass" }}
{{ $postCSSOpts := (dict "config" "./assets/config/postcss.config.js") }}
{{ $cssOpts := (dict "targetPath" "css/main.css" ) }}

{{ if .Site.IsServer }}
{{ $bundle := $bundleRaw | toCSS $cssOpts | postCSS $postCSSOpts }}
<link rel="stylesheet" href="{{ $bundle.Permalink }}" media="screen">
{{ else }}
{{ $bundle := $bundleRaw | toCSS $cssOpts | postCSS $postCSSOpts | minify | fingerprint "md5" | resources.PostProcess }}
<link rel="stylesheet" href="{{ $bundle.Permalink }}" crossorigin="anonymous" media="screen"
	integrity="{{ $bundle.Data.Integrity }}">
{{ end }}

{{/* Blog post page syntax highlightning */}}
{{ if eq .Type "blog" }}
{{ $syntax := resources.Get "css/syntax.css" }}
{{ $syntax = $syntax | resources.Minify | fingerprint "md5" }}
<link rel="stylesheet" href="{{ $syntax.Permalink }}" crossorigin="anonymous"
	integrity="{{ $syntax.Data.Integrity }}" media="screen">
{{ end }}

{{/* Custom CSS & SASS */}}
{{ range .Site.Params.customCSS -}}
{{ $style := resources.Get . }}
{{ $css := $style }}

{{ if or (strings.HasSuffix $style.Name "sass") (strings.HasSuffix $style.Name "scss")}}
{{ $customCSSopt := (dict "targetPath" "css/main.css" "outputStyle" "compressed" "enableSourceMap" false) }}
{{ if site.IsServer }}
{{ $customCSSopt = (dict "targetPath" "css/main.css" "outputStyle" "expanded" "enableSourceMap" true) }}
{{ end }}
{{ $css = $css | toCSS $customCSSopt }}
{{ end }}

{{ $css = $css | minify | fingerprint "md5" | resources.PostProcess }}
<link rel="stylesheet" href="{{ $css.Permalink }}" crossorigin="anonymous" media="screen"
	integrity="{{ $css.Data.Integrity }}">
{{ end }}
