<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1">
{{ with .Description }}
<meta name="description" content="{{ . }}" />
{{ else }}

{{ with $.Site.Params.description }}
<meta name="description" content="{{ . }}" />
{{ end }}

{{ end }}
<title>
	{{ .Site.Title }}
	{{ if (and (ne .Title .Site.Title) (ne (len .Title) 0)) }} - {{ .Title }} {{ end }}
</title>
{{ with .OutputFormats.Get "RSS" }}
<link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{ end }}

{{ with $.Site.Params.favicon }}
<link rel="icon" href="{{ . | relURL }}">
{{ else }}
<link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}">
{{ end }}