*
	@apply no-blend
	box-sizing: border-box

html
	@apply relative
	scroll-behavior: smooth

@media (prefers-reduced-motion: reduce) 
  html 
    scroll-behavior: auto

*::selection
	@apply .bg-green-200

h1
	@apply text-3xl font-serif my-6 tracking-tight

h2
	@apply text-xl font-bold my-3

h3
	@apply text-lg my-2

a
	@apply underline

a, a:hover
	@apply text-gray-800
	line-break: anywhere

p
	@apply font-sans mb-4

ul
	list-style: initial
	@apply pl-6

code
	@apply bg-grey-100 p-1 rounded-md

blockquote
	@apply border-l-8 pl-4 

input
	@apply outline-none