// Charter
@font-face
	font-family: 'charter'
	src: url('../fonts/charter/bold_italic.woff') format('woff')
	font-weight: bold
	font-style: italic
	font-display: swap

@font-face
	font-family: 'charter'
	src: url('../fonts/charter/bold.woff') format('woff')
	font-weight: bold
	font-style: normal
	font-display: swap

@font-face
	font-family: 'charter'
	src: url('../fonts/charter/italic.woff') format('woff')
	font-weight: normal
	font-style: italic
	font-display: swap

@font-face
	font-family: 'charter'
	src: url('../fonts/charter/regular.woff') format('woff')
	font-weight: normal
	font-style: normal
	font-display: swap
