{{ define "main" }}
<button onclick="window.history.back()"
	class="bg-transparent border-none font-bold">&larr;{{ i18n "back" | title}}</button>
<h1 class="text-center mx-auto max-w-4xl text-4xl sm:text-5xl md:text-6xl">
	{{ .Title }}
</h1>
<div class="text-justify leading-loose">
	{{ .Content }}
</div>

{{ if or (.Prev) (.Next) }}
<hr class="mb-8 mt-24">
{{ end }}

<div class="flex flex-wrap justify-between items-center">
	{{ if .Prev }}
	<div class="{{ if .Next }} w-1/2 {{ end }} overflow-ellipsis pr-1">
		<a class="mr-4" href="{{ .Prev.Permalink }}">
			<img src="/icons/top_arrow.svg" class="transform -rotate-90 inline-block">
		</a>
		<a href="{{ .Prev.Permalink }}">
			<span class="underline">{{ .Prev.Title }}</span>
		</a>
	</div>
	{{ end }}

	{{ if and (.Prev) (.Next) }}
	<span class="text-gray-600 hidden md:block">|</span>
	{{ end }}

	{{ if .Next }}
	<div class="{{ if .Prev }} w-1/2 {{ else }} ml-auto {{ end }} text-right overflow-ellipsis pl-1">
		<a href="{{ .Next.Permalink }}">
			<span class="underline">{{ .Next.Title }}</span>
		</a>
		<a class="ml-4" href="{{ .Next.Permalink }}">
			<img src="/icons/top_arrow.svg" class="transform rotate-90 inline-block">
		</a>
	</div>
	{{ end }}
</div>

<hr class="my-8">
{{ partial "contact_icons.html" . }}
{{ end }}