<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>

<head>
	{{ partial "head/metadata.html" . }}
	{{ partial "head/css.html" . }}
	{{ partial "head/js.html" . }}
</head>

<body class="min-h-screen bg-white relative pb-24">
	<div id="top"></div>

	{{- partial "dev/size-indicator.html" . -}}
	{{- partial "header.html" . -}}

	{{ $mainClass := "" }}
	{{ if .IsHome }}
	{{ $mainClass = "lg:max-w-5xl xl:max-w-6xl" }}
	{{ end }}

	<main class="w-full px-4 pt-8 mx-auto md:max-w-4xl overflow-x-hidden md:overflow-visible {{ $mainClass }}">
		{{- block "main" . }}{{- end }}
	</main>

	<div class="absolute bottom-0 w-full">
		{{- partial "footer.html" . -}}
		{{/*  {{- partial "dev/parameters.html" . -}} */}}
	</div>
</body>

</html>