<header class="w-full pt-4 px-4 md:px-20 lg:px-24 xl:px-48">
	<nav class="flex items-center justify-between flex-wrap mx-auto max-w-screen-sm lg:max-w-screen-lg">
		<a href="{{ .Site.Home.Permalink }}" class="flex items-center text-gray-800 font-bold no-underline">
			{{ if .Site.Params.favicon }}
			<h1 class="hidden md:block">
				{{ .Site.Title }}
			</h1>

			<!-- <img width="35" height="35" class="md:hidden" src="{{ .Site.Params.favicon }}"> -->

			<div class="md:hidden">
				{{ partial "icon" . }}
			</div>
			{{ else }}
			<h1>
				{{ .Site.Title }}
			</h1>
			{{ end }}
		</a>

	</nav>
</header>