<header class="w-full mt-2 md:pt-0 px-5 md:mx-auto md:max-w-5xl">
	{{/* Pico responsive icon (square and text) */}}
	<a href="{{ .Site.Home.Permalink }}" class="inline-block font-bold no-underline">
		<h1 class="hidden md:block font-charter tracking-normal m-0">
			{{ .Site.Title }}
		</h1>

		<div class="md:hidden">
			{{ partial "icon" . }}
		</div>
	</a>
	<nav class="pt-3 ml-auto float-right">
		<a href="/" class="pl-5 hover:text-black no-underline">
			Home
		</a>
		{{ with .Site.GetPage "/blog" }}
		<a href="/blog/" class="pl-5 hover:text-black no-underline">
			Blog
		</a>
		{{ end }}
		{{ with .Site.GetPage "/about" }}
		<a href="/about/" class="pl-5 hover:text-black no-underline">
			About
		</a>
		{{ end }}
		{{ with .Site.GetPage "/contact" }}
		<a href="/contact/" class="pl-5 hover:text-black no-underline">
			Contact
		</a>
		{{ end }}
	</nav>
</header>