{{ range $name, $value_ := . }}
<a class="no-underline" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">
	<div
		class="bg-secondary-dark dark:bg-secondary-light hover:bg-secondary rounded-full p-1 pr-2 mr-2 mb-3 flex-initial ease-in-out duration-200">
		<img style="width: 30px; height: 30px;" class="inline rounded-full shadow-4" src=" {{ "icons/tag.svg" | relURL }}"
			alt="tag icon">
		<span class="inline font-sans align-middle select-none text-xl mr-1">{{ $name | upper }}</span>
	</div>
</a>
{{ end }}