{{ define "main" }}
{{ with .Site.GetPage "/home"}}

{{ $lastIndex := (sub (len (.Resources.ByType "page")) 1) }}
{{ range $index, $st := .Resources.ByType "page" }}

{{ if ne $st.Params.hidden true }}
{{ $widget := or $st.Params.widget "blank" }}
{{ $widget_path := printf "widgets/%s.html" $widget}}
{{ partial $widget_path $st }}
{{ if ne $widget "blank" }}

{{ $lastSeparatorClass := "" }}
{{ if eq $index $lastIndex }}
{{ $lastSeparatorClass = "mb-12" }}
{{ end }}
<hr class="{{ $lastSeparatorClass }} my-24 border-secondary-dark dark:border-secondary-light">
{{ end }}
{{ end }}
{{ end }}

{{ partial "contact_icons.html" . }}
<div class="mt-12"></div>

{{ end }}

{{ end }}
